[class^='col-'] {
  float: left;
  display: block;
}
.col-1 {
  width: 100%;
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: 33.333333333333336%;
}
.col-4 {
  width: 25%;
}
.col-5 {
  width: 20%;
}
.col-6 {
  width: 16.666666666666668%;
}
.col-7 {
  width: 14.285714285714286%;
}
.col-8 {
  width: 12.5%;
}
.col-9 {
  width: 11.11111111111111%;
}
.col-10 {
  width: 10%;
}
